<div class="total">
  <div class="css">
    <h1 class="css_title">CSS</h1>
  </div>

  <div class="link_to">
    <%= link_to "Back to Index", root_path, {:style=>'color:#FFFFFF;'}%>
  </div>
  <div class="redirect_google">
    <p class="google">Can't find it...?</p>
    <a class="google_img" href="http://google.com"><img src="http://www.telegraph.co.uk/content/dam/technology/2016/05/09/google_3277450b-large_trans++pJliwavx4coWFCaEkEsb3kvxIt-lGGWCWqwLa_RXJU8.jpg" height="102" style="border-radius: 5px;"/></a>
    <p class="google">Google it !!</p>
  </div>
  <div class="quick_ref">
    <h3 id="link">Quick reference:</h3>
    <ul class="link_list">
      <li><%= link_to "To top", :anchor => "top" %></li>
      <li><%= link_to "Add white lines", :anchor => "white_lines" %></li>
      <li><%= link_to "Google Fonts", :anchor => "google_font" %></li>
      <li><%= link_to "Images", :anchor => "images" %></li>
      <li><%= link_to "Positioning", :anchor => "position" %></li>
      <li><%= link_to "Buttons", :anchor => "buttons" %></li>
      <li><%= link_to "Span Tags", :anchor => "span" %></li>
      <li><%= link_to "Child Selectors", :anchor => "selector" %></li>
      <li><%= link_to "Reset to 0", :anchor => "reset" %></li>
      <li><%= link_to "Pseudo Elements", :anchor => "pseudo" %></li>
      <li><%= link_to "max width & height ", :anchor => "max" %></li>
    </ul>
  </div>
</div>

<div class="content">
  <a id="top"></a>
  <br><br>
  <div class="css_head">
    <h1 class="cssheader"><em>&alefsym; Learning about CSS &alefsym;</em></h1>
    <img class="css_pic" src="http://cssjockey.com/wp-content/uploads/2013/05/cssjockey-css.png" height="60" style="border-radius:5px"/>
  </div>

  <pre  class="line_height">
    <h3>line-height</h3>
      line-height makes the space between lines bigger or smaller, just what you prefer.
      It has a default value of 100%, so to make it bigger you give the line-height a percentage higher
      than a 100% and to make it smaller less then 100%.
      How it looks now is with 200% line-height.
  </pre>

  <pre>
    <h3>font-weight:</h3>
      font-weight makes the thickness of the font, <span class="font_weight">500</span> (here show as 900) is the default
      so anything higher (up till 900) will make the font look thicker. Normal usage is just the value 'bold' which is
      more than sufficiant.
  </pre>

  <pre>
    <h3><a id="white_lines">Adding white lines:</a></h3>
      To add a white in a text you just add this line " &lt;P&gt;&amp;nbsp;&lt;P&gt; ".
      &lt;CENTER&gt; &lt;/CENTER&gt; to center your text (as used in the xhtml page).
      &lt;BR&gt; for a single space text jump.
      &lt;P&gt; for a double space text jump.
      To have text stand-out you can do like <span style="color:red">This text must stand out!</span>.
      This looks like this in html:
      To have text stand-out you can do like &lt;span style=”color:red”&gt;This text must stand out!&lt;/span&gt;.
      You can use this for all the style types
  </pre>

  <pre>
    <h3 class="google_font"><a id="google_font">Adding Google fonts</a></h3>
      This is fun to look at and easy to do, this title is in font-family: 'Permanent Marker', cursive;
      <span id="black_ops">this text is in font-family: 'Black Ops One', cursive;</span>
      How it works:
      You go to the site of 'Google fonts' and choose a font you like, then you click the + sign in that font block
      now you see at the bottom of the page '1 Family Selected'. Click this and follow the instructions.
      This means, add the style link to your html (between the &lt;head&gt; tags)and use the given font-family to style your site.
  </pre>

  <pre>
    <h3><a id="images">Adding Images:</a></h3>
      To add a background image to your page you can do that by using: background-image:url(picname.jpg);
      make sure the picture you want to use is in the same folder as from where you are working.
      The picture will, by default, repeat itself over the page. To not have it repeat itself you add:
      background-repeat:no-repeat;
      To make the picture only repeat from left to right use: background-repeat:repeat-x; (as in x-as)
      for repeat up an down you can therefor use the -y; and the -z; is for forward an backward.
      With the property background-position you can position the image where you want it on your page.
      background-position takes to parameters (left right), so you can set it 10px from the left and 50px from the top like so:
      background-position:10px 50px; to make a picture in the center for several screen sizes you can also use
      percentage like so: background-position:50% 50px; which sets the pic on any screen in the middle.
  </pre>

  <pre>
      <h3>Padding, borders and margin</h3>
      With padding you can create space between text and the border(or adjust the default padding) like so:
      padding: 5px; or padding-top: 5px; you can als choose bottom, right and left for padding.
      Shorthand for this is: padding: 3px 4px 5px 6px; this goes from top/right/bottom/left side.
      Borders:
      A border exists of three properties, border-color, border-style and border-width. In this you have automatically
      possible options to choose from like 'border-top-color: green' and so on to make it just the way you want.
      Here the same shorthand works as with the padding like border: 3px solid black; where 3px is the with of the border.
      Margin:
      With the margin you can set the space between, for example, two paragraphs with any amount of pixels like so:
      margin: 30px; the default margin is 10px. As with the padding you also get the options for bottom, right, left and top
      to make it just the way you like.
  </pre>

  <pre>
      <h3><a id="position">Positioning Elements</a></h3>
      Positioning elements is an important part of structuring your website, a good reference is the following site:
      <a href="http://www.barelyfitz.com/screencast/html-training/css/positioning/"><button type="button">Click here for: Positioning in Ten Steps</button></a>
    - position: static; : This is the default for every single page element. The only reason you would ever set an element to
      position: static is to forcefully-remove some positioning that got applied to an element outside of your control.
    - Absolute position: with absolute positioning you can put your div's a that spot where you want it to be.
      Do make sure the seperate div's are not overlapping one another, you can place them absolute which is fine
      but they will overlapp each other too if you place them like that (no float here!).
      It needs to be in a 'div' and a 'position: absolute', a 'width' a 'height'  and a 'top' and 'left' (in px)
      to move the div to its place.
    - position: relative; : This position alone will not do anything but when using position attributes
      like 'top', 'bottom' it will move to that position moving from it's normal position.
      This means that the element has already a spot somewhere on a page, if you give it the 'position:relative;' and move it
      (either 'top' and 'left') it will move the given pixels from top and left but from the position where it was already.
      That is the big difference with absolute positioning where it always starts from the left top corner of the page.
    - position: fixed; : This position is almost the same as 'position absolute;', also starts from the left top corner
      of the screen when you move it. Difference here is that where you move it to it's going to stay there no matter how
      hard you scroll on the page.
      See more on this topic here: <a href="https://css-tricks.com/absolute-relative-fixed-positioining-how-do-they-differ/"><button type="button">How they differ</button></a>
  </pre>

  <pre>
      <h3>Styling links</h3>
      To start styling a link in css you have to put <span class="line_alink">a:link</span> where 'a' is the anchor and
      ':link' is the default state, (meaning the untouched link) so to make adjustments we start from the default state.
      Here you can set the properties for 'color', text-decoration and more.
      After that we have <span class="line_alink">a:visited</span>here you can set the values for when a link has been visited like
      the color should change to green or something like that.
      With the <span class="line_alink">a:hover</span> we can change the properties of the link when we 'hover' over the link.
      Things like: background-color, color, text-decoration or font-weight.
      The final state is the <span class="line_alink">a:active</span> state, this is the state where when the link is clicked.
      Here we can also change things as background-color, color and more.
  </pre>

  <pre>
    <h3>Styling Tables</h3>
      Styling tables starts with seeing the structure and hierarchy of the 'table' the 'table row' (tr) and the 'table data' (td).
      As expected the table itself is the main and th tr and td cannot override this then the tr and lastly the td.
      So you could seperately style the table: border: 3px solid blue; style the 'tr': background-color: yellow;
      and style the 'td': border: 2px dashed red;
  </pre>

  <pre>
    <h3>Styling Lists</h3>
      Ordered and unordered list you can style with for example: ul {border: 1px solid red;
                                                                     list-style-type: none;
                                                                      padding: 0;}
      In the example the padding is set to '0' because with the 'list-style-type' the dots of the unordered
      list are removed but the text stays on the same place. By stting the padding to '0' the text is moved to the left.
      You can also do this in one time like so: ul li {background: #cce5ff;
                                                                  margin: 5px;}
     Just trying and see how it works is the best practice here!
  </pre>

  <pre>
    <h3><a id="span">Span</a></h3>
      The span tag you use for specifing a part which you want to change but have no element for (like p, h1 or h5).
      By using the span tag you can mark the part you want to style or whatever and make your change to it.
  </pre>

  <pre>
    <h3><a id="selector">Child Selectors</a></h3>
      A child is the part which is inside an other element, like 'head' and 'body' are the children of the html element.
      'Style' is put inside the 'head' and therefor a child of 'head' but also a grandchild of html! (html is grandparent).
      If you put a 'link' inside an &lt;h3&gt; tag, the link tag &lt;a href&gt; is a child of the h3 tag.
      To access just the links which are inside an h3 tag you use the child selector like so:
      h3 > a {color: red; font-size: 30px;}
  </pre>

  <pre>
      <h3><a id="reset">Reset Margins & Padding</a></h3>
      To reste the margins and paddings for your website you have to add this to your css file:
      * {
        margin: 0;
        padding: 0;
        }
      This is very usefull because now you can apply your own margins and paddings.
  </pre>

  <pre>
    <h3><a id="buttons">Buttons</a></h3>
      To make the cursor change into a hand when hovering over the button you add 'cursor:pointer;' to your css button class.
  </pre>

  <pre>
    <h3><a id="pseudo">Pseudo Elements</a></h3>
      Pseudo elements are build-in elements part of other elements, like from a 'paragraph' the first line or first letter.
      Like for every paragraph: p:first-letter {color: red;} or p:first-line {font-size:20px;} or even 'pre h3:first-line {...}'.
      This way you can style the beginning of every paragraph of your page or webside.
  </pre>

  <pre>
    <h3><a id="override">Overriding styles</a></h3>
      You can override styles from your css file by putting a style tag underneath the style-link in the head.
      Like so: &lt;style type="text/css"&gt;h1 {color: green;}&lt;/style&gt; this will override the style from the css
      as long as you put the style tag underneath the style link. The computer reads this from top to bottom, that's why!
  </pre>

  <pre>
    <h3><a id="max">Max Width & Height</a></h3>
      'max-width' and 'max-height' can be used on many elements like 'tables' or images and such.
      The use of it is to make all the different elements the same size so it looks nicer on the webside, instead of
      lager and smaller elements.
      To use this on your images you do like this: img {max-height: 200px;
                                                        max-width: 200px;}
  </pre>
</div>
