<div class="total">
  <div class="index">
    <h1 class="index_title">Index:</h1>
  </div>
  <div class="link_to">
    <%= link_to "XHTML page", static_pages_xhtml_path, {:style=>'color:#FFFFFF;'}%><br><br>
    <%= link_to "CSS page", static_pages_css_path, {:style=>'color:#FFFFFF;'} %><br><br>
    <%= link_to "JS page", static_pages_js_path, {:style=>'color:#FFFFFF;'} %><br><br>
    <%= link_to "Bootstrap page", static_pages_bootstrap_path, {:style=>'color:#FFFFFF;'} %><br><br>
    <%= link_to "jQuery page", static_pages_jquery_path, {:style=>'color:#FFFFFF;'} %><br><br>
    <%= link_to "AngularJS page", static_pages_angular_js_path, {:style=>'color:#FFFFFF;'} %><br><br>
    <%= link_to "WordPress page", static_pages_wordpress_path, {:style=>'color:#FFFFFF;'} %>
  </div>
  <div class="redirect_google">
    <p class="google">Can't find it...?</p>
    <a class="google_img" href="http://google.com"><img src="http://www.telegraph.co.uk/content/dam/technology/2016/05/09/google_3277450b-large_trans++pJliwavx4coWFCaEkEsb3kvxIt-lGGWCWqwLa_RXJU8.jpg" height="102" style="border-radius: 5px;"/></a>
    <p class="google">Google it !!</p>
  </div>
</div>

  <div class="index_header">
    <div class="index_header_text"><h1>Front-end Development</h1></div>
  <div class="index_content">
    <div><img src="https://i.ytimg.com/vi/LcTQoRlcs-A/maxresdefault.jpg" height="320" style="border-radius: 5px;"/></a></div>
  </div>
</div>
