<div class="total">
  <div class="xhtml">
    <h1 class="xhtml_title">XHTML</h1>
  </div>
  <div class="link_to">
    <%= link_to "Back to Index", root_path, {:style=>'color:#FFFFFF;'}%>
  </div>
  <div class="redirect_google">
    <p class="google">Can't find it...?</p>
    <a class="google_img" href="http://google.com"><img src="http://www.telegraph.co.uk/content/dam/technology/2016/05/09/google_3277450b-large_trans++pJliwavx4coWFCaEkEsb3kvxIt-lGGWCWqwLa_RXJU8.jpg" height="102" style="border-radius: 5px;" ""/></a>
    <p class="google">Google it !!</p>
  </div>
  <br>
  <div class="quick_ref">
    <h3 id="link">Quick reference:</h3>
    <ul class="link_list">
      <li><%= link_to "To top", :anchor => "top" %></li>
      <li><%= link_to "Resize", :anchor => "size" %></li>
      <li><%= link_to "Table Headers", :anchor => "headers" %></li>
      <li><%= link_to "Cellspacing", :anchor => "cellspacing" %></li>
    </ul>
  </div>
</div>
<a id="top"></a>

<div class="content">
  <br><br>
  <div class="xhtmlhead">
    <h1 class="xhtml_header"><em>&alefsym; Learning about XHTML &alefsym;</em></h1>
    <img class="css_pic" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/XHTML_text_representation.png" height="60" style="border-radius:5px" />
  </div>
  <br>
  <CENTER>
  <div class="top_split">
    <table class="pics" width="100%" border="1" cellpadding="10" cellspacing="5">
      <tr>
        <th colspan="4"><h3 class="table_header"><em>This is us!!</em></h3><h3 class="bull_pic"><%= link_to image_tag("bull.jpg") %></h3></th>
      </tr>
      <tr>
        <th>That's me</th>
        <th>This is Karen and Sam</th>
        <th>Manu and Rana</th>
        <th>Sweet mexi</th>
      </tr>
      <tr>
        <td><%= link_to image_tag("me.jpg") %></td>
        <td><%= link_to image_tag("karen.jpg") %></td>
        <td><%= link_to image_tag("manu_rana.jpg") %></td>
        <td><%= link_to image_tag("mexi.jpg") %></td>
      </tr>
    </table>
  </div>
<hr>

  <pre>
    <h3>Comments</h3>
      It seems that also xhtml is some how related or mixed in this whole story.
      So for a short side step I will recap this part now.
      To make a comment in html you do this: &lt;!-- comment... --&gt;
  </pre>

  <pre>
    <h3>Links section: Link to a paragraph on the same page</h3>
      To make a link to a paragraph or part in you webpage (on the same page) you can do the following:
      &lt;h3&gt;&lt;a name="links"&gt;&lt;/a&gt;paragraph title&lt;/h3&gt; (for Rails you have to use 'id' instead of 'name')
      this you put at the start of the part which you want to link to.
      You put the link on top (or in navbar) of your web page so the user only has click the link to get to this part.
      So you will have to make a link on top of your page like so: &lt;a href="#me">Me section&lt;/a&gt;
  </pre>

  <pre>
    <h3><a id="size"></a>Image resize section: How to Resize Images:</h3>
      To resize images you can do: >img src="madden.jpg" height="150"/< where 150 means 150 px,
      with this added the image will be resized. Better way to do this is first resize the picture before use,
      for example with photoshop. Because if you use a bigger picture and adjust the size on the webpage you still
      make the site download the big size everytime which makes the site slower.
  </pre>

  <pre>
    <h3><a id="headers"></a>Table Headers section: How to make Table Hearders:</h3>
      To make table headers you use the '<th>' and its closing tag ofcourse, this makes the text go bold
      and centers the header text. So start with creating a table by 'table and its closing tag then the opening <tr> tag
      with the closing one then make the table headers with the content you want in it.
      <br>
      For making a header which goes over all rows you use the colspan attribute like on 'Thats us!!'
      &lt;th colspan="4"&gt;&lt;h3&gt;That's us!!&lt;img id="bull_pic" src="bull.jpg"/&gt;&lt;/h3&gt;&lt;/th&gt;
  </pre>
  <table border="1" width="100%" cellspacing="10" cellpadding="10">
    <tr>
      <th>Type of people</th>
      <th>Reason dislike</th>
    </tr>
    <tr class="data_row">
      <td>Extremists</td>
      <td>To extreme for me</td>
    </tr>
  </table>

  <pre>
    <h3><a id="cellspacing"></a>Table Spacing: How to use spacing</h3>
      To make the width of the column bigger (standard it takes the width of the longest word or sentence)
      you can use in the 'table' tag next to ' border="1" width="100%" ' with this the table also gets flexible
      for the page.

      Getting extra space between border and text in the cells you use 'cellpadding' like in the 'Type of people' table.
      To get space between the cells themselves you use 'cellspacing' which is also used in the 'Type of people' table.
  </pre>

  <pre>
    <h3>The DOM</h3>
    What is the DOM?
    The DOM defines a standard for accessing documents like XML and HTML:
    "The W3C Document Object Model (DOM) is a platform and language-neutral interface that allows programs and scripts
    to dynamically access and update the content, structure, and style of a document."
    The DOM is separated into 3 different parts / levels:
    Core DOM - standard model for any structured document
    XML DOM - standard model for XML documents
    HTML DOM - standard model for HTML documents
    The DOM defines the objects and properties of all document elements, and the methods (interface) to access them.
    Zie this link to find out more about the <a href="http://www.w3schools.com/xml/dom_intro.asp">DOM</a>
  </pre>
  </CENTER>
</div>
