<div class="total">
  <div class="xhtml">
    <h1 class="xhtml_title">XHTML</h1>
  </div>
  <div class="link_to">
    <%= link_to "Back to Index", root_path, {:style=>'color:#FFFFFF;'}%>
  </div>
  <div class="redirect_google">
    <p class="google">Can't find it...?</p>
    <a class="google_img" href="http://google.com"><img src="http://www.telegraph.co.uk/content/dam/technology/2016/05/09/google_3277450b-large_trans++pJliwavx4coWFCaEkEsb3kvxIt-lGGWCWqwLa_RXJU8.jpg" height="102" style="border-radius: 5px;"/></a>
    <p class="google">Google it !!</p>
  </div>
  <div class="quick_ref">
    <h3 id="link">Quick reference:</h3>
    <ul class="link_list">
      <li><%= link_to "To top", :anchor => "top" %></li>
      <li><%= link_to "Comments", :anchor => "comments" %></li>
      <li><%= link_to "Inner Links", :anchor => "links" %></li>
      <li><%= link_to "Resize", :anchor => "size" %></li>
      <li><%= link_to "Table Headers", :anchor => "headers" %></li>
      <li><%= link_to "Table Spacing", :anchor => "cellspacing" %></li>
      <li><%= link_to "The Dom", :anchor => "dom" %></li>
      <li><%= link_to "Forms", :anchor => "forms" %></li>

    </ul>
  </div>
</div>
<a id="top"></a>

<div class="content">
  <br><br>
  <div class="xhtmlhead">
    <h1 class="xhtml_header"><em>&alefsym; Learning about XHTML &alefsym;</em></h1>
    <img class="css_pic" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/XHTML_text_representation.png" height="60" style="border-radius:5px" />
  </div>
  <br>
  <div class="top_split">
    <table class="pics" width="100%" border="1" cellpadding="10" cellspacing="5">
      <tr>
        <th colspan="4"><h3 class="table_header"><em>This is us!!</em></h3><h3 class="bull_pic"><%= link_to image_tag("bull.jpg") %></h3></th>
      </tr>
      <tr>
        <th>That's me</th>
        <th>This is Karen and Sam</th>
        <th>Manu and Rana</th>
        <th>Sweet mexi</th>
      </tr>
      <tr>
        <td><%= link_to image_tag("me.jpg") %></td>
        <td><%= link_to image_tag("karen.jpg") %></td>
        <td><%= link_to image_tag("manu_rana.jpg") %></td>
        <td><%= link_to image_tag("mexi.jpg") %></td>
      </tr>
    </table>
  </div>
<hr>

  <pre>
    <h3><a id="comments">Comments</a></h3>
      It seems that also xhtml is some how related or mixed in this whole story.
      So for a short side step I will recap this part now.
      To make a comment in html you do this: &lt;!-- comment... --&gt;
  </pre>

  <pre>
    <h3><a id="links">Links section: Link to a paragraph on the same page</a></h3>
      To make a link to a paragraph or part in you webpage (on the same page) you can do the following:
      &lt;h3&gt;&lt;a name="me"&gt;&lt;/a&gt;paragraph title&lt;/h3&gt; (for Rails you have to use 'id' instead of 'name')
      this you put at the start of the part which you want to link to.
      You put the related link on top (or in navbar) of your web page you can get in one click to this section.
      So you will have to make a link on top of your page like so: &lt;a href="#me">Me section&lt;/a&gt;
  </pre>

  <pre>
    <h3><a id="size">Image resize section: How to Resize Images:</a></h3>
      To resize images you can do: >img src="madden.jpg" height="150"/< where 150 means 150 px,
      with this added the image will be resized. Better way to do this is first resize the picture before use,
      for example with photoshop. Because if you use a bigger picture and adjust the size on the webpage you still
      make the site download the big size everytime which makes the site slower.
  </pre>

  <pre>
    <h3><a id="headers">Table Headers section: How to make Table Hearders:</a></h3>
      To make table headers you use the '&lt;th&gt;' and its closing tag ofcourse, this makes the text go bold
      and centers the header text. So start with creating a table by 'table and its closing tag then the opening <tr> tag
      with the closing one then make the table headers with the content you want in it.
      <br>
      For making a header which goes over all rows you use the colspan attribute like on 'Thats us!!'
      &lt;th colspan="4"&gt;&lt;h3&gt;That's us!!&lt;img id="bull_pic" src="bull.jpg"/&gt;&lt;/h3&gt;&lt;/th&gt;
  </pre>
  <table class="people" border="1" width="100%" cellspacing="10" cellpadding="10">
    <tr>
      <th>Type of people</th>
      <th>Reason dislike</th>
    </tr>
    <tr class="data_row">
      <td>Extremists</td>
      <td>To extreme for me</td>
    </tr>
  </table>

  <pre>
    <h3><a id="cellspacing">Table Spacing: How to use spacing</a></h3>
      To make the width of the column bigger (standard it takes the width of the longest word or sentence)
      you can use in the 'table' tag next to ' border="1" width="100%" ' with this the table also gets flexible
      for the page.

      Getting extra space between border and text in the cells you use 'cellpadding' like in the 'Type of people' table.
      To get space between the cells themselves you use 'cellspacing' which is also used in the 'Type of people' table.
  </pre>

  <pre>
      <h3><a id="dom">The Dom</a></h3>
      What is the DOM?
      The DOM defines a standard for accessing documents like XML and HTML:
      "The W3C Document Object Model (DOM) is a platform and language-neutral interface that allows programs and scripts
      to dynamically access and update the content, structure, and style of a document."
      The DOM defines the objects and properties of all document elements, and the methods (interface) to access them.
      a good reference is the following site:
      <a href="http://www.w3schools.com/xml/dom_intro.asp"><button type="button">The DOM</button></a>
      The DOM is separated into 3 different parts / levels:
      Core DOM - standard model for any structured document
      XML DOM - standard model for XML documents
      HTML DOM - standard model for HTML documents
  </pre>

  <pre>
    <h3><a id="forms">Forms</a></h3>
      Forms are used to take input from users how visit your website like login or enter credentials and such.
      To make a form you start with the form tags like so: &lt;form&gt; &lt;/form&gt;.
      There are many options for attributes which you can use in a form, here are some examples:
      &lt;form&gt;
        Username: &lt;input type="text" name="username" maxlength=5 size=8 value="Enter name here"/&gt;
      &lt;/form&gt;
      In this example input type 'text' means this box just takes text, as does the 'name'.
      The 'name="username"' here the 'username' stands for the 'id' (name here means id) of the input line, in this case 'username'.
      'maxlength' limits the amount of input of characters, in the example the user can only enter 5 characters.
      'value' here you put the text which goes into the input box to make things extra clear for the user.
      With 'size' you can adjust the length of the input box the user sees on the page.
      To provide the user a chioce we use <span class="line_alink">'radio' buttons</span>, for example when the user has to give his or her gender.
      This can only be male or female (mostly) so you offer a choice like so:
      &lt;form&gt;
        Male: &lt;input type="radio" name="gender" value="male"/&gt;
        Female: &lt;input type="radio" name="gender" value="female"/&gt;
      &lt;/form&gt;
      <form>
        Enter your gender:
        Male: <input type="radio" name="sex" value="male"><br/>
        Female: <input type="radio" name="sex" value="female" />
      </form>

      Now the user has to make a choice and can only pick one because if you click male you cannot click female too.
      When we use the <span class="line_alink">'checkbox'</span> this will work, you can click more options.
      This is set up like so:
      &lt;p&gt;Pick your favorite foods&lt;p&gr;
      &lt;form&gt;
        Fries: &lt;input type="checkbox" name="food" value="fries"/&gt;
        Hamburger: &lt;input type="checkbox" name="food" value="hamburger"/&gt;
        Cheesburger: &lt;input type="checkbox" name="food" value="cheesburger"/&gt;
      &lt;/form&gt;
      The values are for references when using javascript, so we can make this a interactive thing.
      <form>
        Pick your favorite foods:
        Fries: <input type="checkbox" name="food" value="fries"/>
        Hamburger: <input type="checkbox" name="food" value="hamburger"/>
        Cheesburger: <input type="checkbox" name="food" value="cheesburger"/>
      </form>
      When the options are to many you can use the <span class="line_alink">'dropdown' menu</span>.
      It works like this:
      &lt;form&gt;
        &lt;p&gt;Where are you from?&lt;p&gt;
        &lt;select name="city"&gt;
            &lt;option value="amsterdam"&gt;Amsterdam&lt;/option&gt;
            &lt;option value="paris"&gt;Paris&lt;/option&gt;
            &lt;option value="berlin"&gt;Berlin&lt;/option&gt;
            &lt;option value="vienna"&gt;Vienna&lt;/option&gt;
            &lt;option value="dublin"&gt;Dublin&lt;/option&gt;
        &lt;/select&gt;
      &lt;/form&gt;
      <form>
        Where are you from?
        <select name="city">
            <option value="option">your town</option>
            <option value="amsterdam">Amsterdam</option>
            <option value="paris">Paris</option>
            <option value="berlin">Berlin</option>
            <option value="vienna">Vienna</option>
            <option value="dublin">Dublin</option>
        </select>
      </form>
      <br>
      <span class="line_alink">'Textarea'</span> is another thing in forms, with textarea you can let
      the user enter text. Like on a dating site where he or she tells more about themselves.
      You do this like so:
      &lt;form&gt;
        &lt;p&gt;Tell us about yourself:&lt;p&gt;
        &lt;textarea name="bio" rows="8" cols="40"&gt;
        &lt;/textarea&gt;
      &lt;/form&gt;
      This way you make a textarea, with the 'rows' you can set the hight of the textarea and with
      cols (columns) you set the width.
      <form>
        Tell us about yourself:
        <textarea name="bio" rows="5" cols="30">
  Type here..
        </textarea>
      </form>
  </pre>
</div>
